In [1]:
import sys
print(sys.version)

3.6.3 |Anaconda, Inc.| (default, Oct 15 2017, 03:27:45) [MSC v.1900 64 bit (AMD64)]

In [1]:
# !pip install twython

In [3]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\naga raja paidimarri\anaconda3\lib\site-packages

You are using pip version 9.0.3, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [4]:
#Plot
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

#Data Packages
import math
import pandas 
import numpy as np

#Progress bar
from tqdm import tqdm

#Counter
from collections import Counter

#Operation
import operator

#Natural Language Processing Packages
import re # regex expressions
import nltk # natural lang

## Download Resources
nltk.download("vader_lexicon") 
nltk.download("stopwords")
nltk.download("averaged_perceptron_tagger")
nltk.download("wordnet")

from nltk.sentiment import SentimentAnalyzer
from nltk.sentiment.vader import SentimentIntensityAnalyzer 
from nltk.sentiment.util import * 
from nltk import tokenize
from nltk.corpus import stopwords
from nltk.tag import PerceptronTagger
from nltk.data import find

## Machine Learning
import sklearn
import sklearn.metrics as metrics

[nltk_data] Downloading package vader_lexicon to C:\Users\Naga Raja
[nltk_data]     Paidimarri\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Naga Raja
[nltk_data]     Paidimarri\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\Naga Raja
[nltk_data]     Paidimarri\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to C:\Users\Naga Raja
[nltk_data]     Paidimarri\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## Preprocessing

In [5]:

def evalSentences(sentences, to_df=False, columns=[]):

    sid = SentimentIntensityAnalyzer()
    pdlist = []
    if to_df:
        for sentence in tqdm(sentences):
            ss = sid.polarity_scores(sentence)
            pdlist.append([sentence]+[ss['compound']])
        reviewDf = pandas.DataFrame(pdlist)
        reviewDf.columns = columns
        return reviewDf
    
    else:
        for sentence in tqdm(sentences):
            print(sentence)
            ss = sid.polarity_scores(sentence)
            #print(ss)
            #print(type(ss))
            for k in sorted(ss):
                print('{0}: {1}, '.format(k, ss[k]), end='')
            print()

In [6]:
#Example sentences
sentences = ["VADER is not smart, handsome, and funny .",
    "VADER is not smart and  handsome and funny and happy and good .",
             "VADER is not smart, but handsome, and funny",
             "VADER is smart.",
            "Professor Scott is a great professor with excellent teaching skills and research ability",
            "Eldan is a good programmer, he is very good at python and Java",
            "George is a good programmer, he is good at Java and C++ but not doing that well in python",
            "MIEXXX is such a boring course, the projects are too long to finish",
            "MIE451 is a very intersting course which taught by a great professor and very useful knowledge"]

In [8]:
evalSentences(sentences)

  0%|          | 0/9 [00:00<?, ?it/s]

VADER is not smart, handsome, and funny .
compound: -0.2467, neg: 0.415, neu: 0.339, pos: 0.246,
VADER is not smart and  handsome and funny and happy and good .
compound: 0.6822, neg: 0.228, neu: 0.327, pos: 0.444,
VADER is not smart, but handsome, and funny
compound: -0.057, neg: 0.364, neu: 0.359, pos: 0.277,
VADER is smart.
compound: 0.4019, neg: 0.0, neu: 0.426, pos: 0.574,
Professor Scott is a great professor with excellent teaching skills and research ability
compound: 0.8779, neg: 0.0, neu: 0.471, pos: 0.529,
Eldan is a good programmer, he is very good at python and Java
compound: 0.7003, neg: 0.0, neu: 0.633, pos: 0.367,
George is a good programmer, he is good at Java and C++ but not doing that well in python
compound: 0.1727, neg: 0.105, neu: 0.71, pos: 0.185,
MIEXXX is such a boring course, the projects are too long to finish
compound: -0.3182, neg: 0.173, neu: 0.827, pos: 0.0,
MIE451 is a very intersting course which taught by a great professor and very useful knowledge
compound: 0.807, neg: 0.0, neu: 0.622, pos: 0.378,

100%|██████████| 9/9 [00:00<00:00, 101.84it/s]

In [9]:
#Read in from pandas
hotelDf = pandas.read_csv('reviews.csv')
hotelDf.columns=['filePath','hotelName','reviewColumn','ratingScore','groundTruth']

### I crawled the trip advisor website for the hotels in windsor ontario. I got 2502 reviews and 32 hotels.

In [10]:
#hotelDf

In [11]:
hotelDf.head()

,filePath,hotelName,reviewColumn,ratingScore,groundTruth
0,data\ca\155021\1391471\153965160.html,Bestway Motel,"""This was my first time that experienced stayi...",3,negative
1,data\ca\155021\1391471\258870052.html,Bestway Motel,"""This place was exactly what I needed. Was in ...",4,positive
2,data\ca\155021\1391471\259430914.html,Bestway Motel,"""Came back, and we are glad we did. The new ma...",5,positive
3,data\ca\155021\1391471\271578266.html,Bestway Motel,"""Great Hotel. Outside looks rough but they\\'...",5,positive
4,data\ca\155021\1391471\284577588.html,Bestway Motel,"""The pictures I have seen of this place were m...",3,negative

In [12]:
hotelDf.shape

(2501, 5)

In [13]:
hotelDf.count()

filePath        2501
hotelName       2501
reviewColumn    2501
ratingScore     2501
groundTruth     2501
dtype: int64

In [14]:
hotelDf.dtypes

filePath        object
hotelName       object
reviewColumn    object
ratingScore      int64
groundTruth     object
dtype: object

In [15]:
#hotelDf.isnull()

In [16]:
#hotelDf['ratingScore'] > 3

In [17]:
#hotelDf[hotelDf['ratingScore'] > 3]

In [18]:
#x.shape

In [19]:
hotelDf = hotelDf[hotelDf['reviewColumn'].notnull()]

In [20]:
hotelDf.shape

(2501, 5)

In [21]:
hotelDf = hotelDf.reset_index(drop=True)

In [22]:
#hotelDf.head()

In [23]:
hotelDf.count()

filePath        2501
hotelName       2501
reviewColumn    2501
ratingScore     2501
groundTruth     2501
dtype: int64

In [24]:
#hotelDf.dtypes

In [25]:
#hotelDf['reviewColumn'] = hotelDf['reviewColumn'].astype(str)

In [26]:
reviews = hotelDf['reviewColumn'].values

In [27]:
#reviews

In [28]:
type(reviews)

numpy.ndarray

In [29]:
reviewDF = evalSentences(reviews, to_df=True, columns=['reviewCol','vader'])

100%|██████████| 2501/2501 [00:04<00:00, 611.56it/s]

In [30]:
reviewDF.head()

                                           reviewCol   vader
0  "This was my first time that experienced stayi...  0.8910
1  "This place was exactly what I needed. Was in ...  0.9759
2  "Came back, and we are glad we did. The new ma...  0.9939
3  "Great Hotel.  Outside looks rough but they\\'...  0.8074
4  "The pictures I have seen of this place were m...  0.8360

In [31]:
#reviewDF.index = hotelDf.index

In [32]:
#reviewDF.count()

In [33]:
#hotelDf['vader'] = reviewDF['vader']

In [34]:
#hotelDf.tail()

In [35]:

def dataFrameTransformation(hotelDf, reviewDF, k=500):
    reviews = reviewDF['reviewCol'].values
    from nltk.corpus import stopwords
    stop = set(stopwords.words('english'))
    
    counter = Counter()
    for review in reviews:
            counter.update([word.lower() 
                            for word 
                            in re.findall(r'\w+', review) 
                            if word.lower() not in stop and len(word) > 2])
    topk = counter.most_common(k)        
    

    freqReview = []

    for i in range(len(reviews)):
        tempCounter = Counter([word.lower() for word in re.findall(r'\w+',reviews[i])])
        topkinReview = [1 if tempCounter[word] > 0 else 0 for (word,wordCount) in topk]
        freqReview.append(topkinReview)
        
        
    freqReviewDf = pandas.DataFrame(freqReview)
    dfName = []
    for c in topk:
        dfName.append(c[0])
    freqReviewDf.columns = dfName
    finalreviewDf = reviewDF.join(freqReviewDf)
    finaldf = hotelDf[['hotelName','ratingScore','groundTruth']].join(finalreviewDf)
    return topk, finaldf

In [36]:
topk, finaldf = dataFrameTransformation(hotelDf, reviewDF, k=500)

In [37]:
finaldf

,hotelName,ratingScore,groundTruth,reviewCol,vader,room,hotel,stay,breakfast,staff,...,job,major,sausage,believe,mattress,machine,star,changed,online,terrible
0,Bestway Motel,3,negative,"""This was my first time that experienced stayi...",0.8910,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Bestway Motel,4,positive,"""This place was exactly what I needed. Was in ...",0.9759,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bestway Motel,5,positive,"""Came back, and we are glad we did. The new ma...",0.9939,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Bestway Motel,5,positive,"""Great Hotel. Outside looks rough but they\\'...",0.8074,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bestway Motel,3,negative,"""The pictures I have seen of this place were m...",0.8360,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Bestway Motel,4,positive,"""My wife and I stayed at the Bestway Motel in ...",0.9973,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
6,Bestway Motel,3,negative,"""For $56 plus taxes, this is pretty much the b...",0.9808,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,Bestway Motel,1,negative,"""Stayed for four nights and every morning my w...",-0.2263,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,Bestway Motel,5,positive,"""The owners are friendly , and my room was cle...",0.9403,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,Bestway Motel,4,positive,"""This motel was exactly what I thought it woul...",0.9517,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Bestway Motel,2,negative,"""Cons: Although the rooms are non-smoking, the...",0.9395,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,Bestway Motel,4,positive,"""The motel room is basic but clean and the bed...",0.9765,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
12,Bestway Motel,5,positive,"""Have stayed twice and will go back there ever...",0.9578,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,Bestway Motel,4,positive,"""Location was decent. Conveniently located to ...",0.8586,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Bestway Motel,2,negative,"""Warning: the manager is nice, but, when you c...",0.9046,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
15,Bestway Motel,3,negative,"""It was one of the cheapest and it was accepta...",0.5267,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Bestway Motel,5,positive,"""Management/ Staff very very helpful. The pric...",0.9702,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
17,Bestway Motel,3,negative,"""Placed almost on the state line between US an...",0.8922,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,Bestway Motel,5,positive,"""What I think is that it is a really good plac...",0.9729,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Bestway Motel,1,negative,"""When we entered in the office - the first que...",-0.7178,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Super 8 by Wyndham Windsor/Dougall,1,negative,"""- Upon arriving the lady at the office &quot;...",-0.9105,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
21,Super 8 by Wyndham Windsor/Dougall,4,positive,"""Stayed here for one night and found it clean ...",0.9914,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
22,Super 8 by Wyndham Windsor/Dougall,4,positive,"""I recently stayed at this motel in Windsor,O...",0.9401,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,Super 8 by Wyndham Windsor/Dougall,4,positive,"""We stayed here to attend a wedding.\\nWe were...",0.8030,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
24,Super 8 by Wyndham Windsor/Dougall,4,positive,"""This place is a real gem for anyone looking f...",0.9750,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,Super 8 by Wyndham Windsor/Dougall,4,positive,"""Very nice! !we spent few nights! !we had one...",0.9737,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,Super 8 by Wyndham Windsor/Dougall,5,positive,"""Rooms always clean and accommodating of reque...",0.8979,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,Super 8 by Wyndham Windsor/Dougall,2,negative,"""Decor is dated (80s maybe).\\nWe picked becau...",0.8671,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,Super 8 by Wyndham Windsor/Dougall,4,positive,"""A co-worker and I came over from the U.S. for...",0.9938,1,1,1,1,0,...,0,0,0,0,0,0,0,1,0,0
29,Super 8 by Wyndham Windsor/Dougall,4,positive,"""This is my go to motel in Windsor. Family run...",0.4588,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,Bexon Rooms,5,positive,"""We stayed here with friends just for 2 nights...",0.9729,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2472,Bexon Rooms,5,positive,"""Bexon was honestly one of the best hotels I h...",0.9651,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2473,Bexon Rooms,3,negative,"""Rooms are small and clean. Hotel used to be a...",0.2809,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2474,Bexon Rooms,5,positive,"""Everything you need, nothing you don\\'t! Fre...",0.9722,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2475,Bexon Rooms,3,negative,"""The Staff were very friendly and accommodatin...",0.3064,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2476,Bexon Rooms,4,positive,"""I\\'ve never stayed at a place like this befo...",0.9809,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2477,Bexon Rooms,3,negative,"""It was a very clean place, staff was very fri...",0.9726,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2478,Bexon Rooms,4,positive,"""This was our second time staying at the Bexon...",0.9152,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2479,Bexon Rooms,1,negative,"""This place is the worst place i have ever vis...",-0.8830,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
2480,Bexon Rooms,4,positive,"""Owners were so accomodating and went above an...",0.7809,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2481,Bexon Rooms,5,positive,"""It was wonderful experience staying at Bexon ...",0.9844,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2482,Bexon Rooms,5,positive,"""Clean bare bones room that matches the low pr...",-0.2124,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2483,Bexon Rooms,4,positive,"""I had booked a room through booking.com and I...",0.9878,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2484,Bexon Rooms,5,positive,"""I spent 7 nights here. The room was basic, cl...",0.9477,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2485,Bexon Rooms,5,positive,"""Close to everything 2 to 3 minute walk from e...",0.9077,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2486,Bexon Rooms,5,positive,"""Had a great stay here with 5 of my friends fo...",0.9932,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2487,Bexon Rooms,4,positive,"""Our family visiting from Australia spent 10 d...",0.7184,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2488,Bexon Rooms,4,positive,"""Walk to waterfront. Restaurants close by. L...",0.8689,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2489,Travellers Choice Motel,2,negative,"""Pros: Very clean room.\\n Very comfo...",0.9480,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2490,Travellers Choice Motel,4,positive,"""Stayed 2 nights in two different rooms.\\n\\n...",0.8908,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2491,Travellers Choice Motel,4,positive,"""Liked: Very cheap nightly rate (very good val...",0.8716,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2492,Travellers Choice Motel,2,negative,"""Really old and outdated but when you only pay...",0.7066,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2493,Travellers Choice Motel,4,positive,"""Spending BIG is not necessarily giving one co...",0.8688,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2494,Travellers Choice Motel,1,negative,"""Where do I start? Well, the first thing we di...",-0.8713,1,1,1,0,1,...,0,1,0,0,0,0,0,1,0,0
2495,Travellers Choice Motel,1,negative,"""I would not stay in this place.. they don\\'t...",0.4019,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2496,Travellers Choice Motel,4,positive,"""While the Motel is a little older they are re...",0.9595,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
2497,Travellers Choice Motel,2,negative,"""I stayed with my family here, For the money y...",0.1027,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2498,Travellers Choice Motel,1,negative,"""Had booked 3 nights here in early July for mi...",-0.0772,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2499,Travellers Choice Motel,3,negative,"""Like many properties now-a-days, The Traveler...",0.9886,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2500,Travellers Choice Motel,3,negative,"""As my title says,my first impression of the T...",0.9820,1,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

In [38]:
topk[0:15]

[('room', 2819),
 ('hotel', 2601),
 ('stay', 1504),
 ('breakfast', 1495),
 ('staff', 1333),
 ('clean', 1320),
 ('great', 1085),
 ('good', 1066),
 ('would', 966),
 ('rooms', 927),
 ('nice', 852),
 ('windsor', 847),
 ('night', 796),
 ('stayed', 790),
 ('friendly', 738)]

### Analysis
The TopK is the list of 500 most frequent words. we can see that as expected the words room,hotel,stay,staff appear becuase irrespective of the type of the review these words appear. So i will consider them as stop words in further analysis.

In [39]:
finaldf.head()

,hotelName,ratingScore,groundTruth,reviewCol,vader,room,hotel,stay,breakfast,staff,...,job,major,sausage,believe,mattress,machine,star,changed,online,terrible
0,Bestway Motel,3,negative,"""This was my first time that experienced stayi...",0.8910,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Bestway Motel,4,positive,"""This place was exactly what I needed. Was in ...",0.9759,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bestway Motel,5,positive,"""Came back, and we are glad we did. The new ma...",0.9939,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Bestway Motel,5,positive,"""Great Hotel. Outside looks rough but they\\'...",0.8074,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bestway Motel,3,negative,"""The pictures I have seen of this place were m...",0.8360,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

## Q1 Sentiment Analysis and Aggregation
(a) Compute average Vader sentiment and average ground truth rating per hotel.

In [40]:
#Extract a list of hotels
hotelNames = finaldf['hotelName'].unique()
#hotelNames[0:5]

In [41]:
hotelNames

array(['Bestway Motel', 'Super 8 by Wyndham Windsor/Dougall',
       'Ivy Rose Motor Inn &amp; Restaurant', 'Kenora Motel',
       'Towne &amp; Country Motel', 'University Place',
       'Holiday Inn &amp; Suites - Ambassador Bridge', 'Comfort Inn',
       'iSleep Inn',
       'Sunbridge Hotel &amp; Conference Centre Downtown Windsor',
       'Howard Johnson Plaza Hotel by Wyndham Windsor',
       'TownePlace Suites by Marriott Windsor', 'Windsor Riverside Inn',
       'Comfort Suites Downtown', 'Motel 6 Windsor',
       'Best Western Plus Waterfront Hotel',
       'Lexington Inn &amp; Suites Windsor',
       'Quality Inn &amp; Suites Downtown', 'Travelodge Windsor',
       'Super 8 by Wyndham Ambassador Bridge Windsor on',
       'Comfort Inn and Suites Ambassador Bridge',
       'Holiday Inn Express Windsor Waterfront',
       'Windsor Hope Guest House', 'Royal Windsor Motel',
       'Caesars Windsor', 'Hampton Inn &amp; Suites by Hilton Windsor',
       'A Hidden Gem Bed and Breakfast',
       'Ye Olde Walkerville Bed &amp; Breakfast',
       'Residence &amp; Conference Centre - Windsor', 'Stonecroft Inn',
       'Bexon Rooms', 'Travellers Choice Motel'], dtype=object)

In [42]:
#finaldf[finaldf['hotelName']=='Bestway Motel']

In [43]:
def getHotelRank(df, measure='ratingScore'):
    #Rank the hotel by ground truth rating score
    hotelRating = []
    for hotel in hotelNames:
        itemDf = df.loc[df['hotelName']==hotel]
        hotelRating.append([hotel,itemDf[measure].mean()])
    hotelRatingDfGt = pandas.DataFrame(hotelRating)
    hotelRatingDfGt.columns=['hotelName','avgRatingScore']
    hotelRatingDfGt = hotelRatingDfGt.sort_values('avgRatingScore',ascending=0)
    return hotelRatingDfGt

In [44]:
hotelRatingDfGt = getHotelRank(finaldf)

In [45]:
hotelRatingDfGt.head()

                                  hotelName  avgRatingScore
26           A Hidden Gem Bed and Breakfast        4.846154
27  Ye Olde Walkerville Bed &amp; Breakfast        4.538462
29                           Stonecroft Inn        4.500000
24                          Caesars Windsor        4.437500
11    TownePlace Suites by Marriott Windsor        4.409091

In [46]:
#hotelRatingDfGt.shape

In [47]:
#hotelRatingDfGt.head(5)

In [48]:
#hotelRatingDfGt.tail(5)

In [49]:
def getHotelRankvader(df, measure='ratingScore'):
    #Rank the hotel by ground truth rating score
    hotelRating = []
    for hotel in hotelNames:
        itemDf = df.loc[df['hotelName']==hotel]
        hotelRating.append([hotel,itemDf[measure].mean()])
    hotelRatingDfGt = pandas.DataFrame(hotelRating)
    hotelRatingDfGt.columns=['hotelName','avgvadersentiment']
    hotelRatingDfGt = hotelRatingDfGt.sort_values('avgvadersentiment',ascending=0)
    return hotelRatingDfGt

In [50]:
hotelRatingDfVd = getHotelRankvader(finaldf, measure='vader')

In [51]:
#hotelRatingDfVd.shape

In [52]:
hotelRatingDfGt.head(5)

                                  hotelName  avgRatingScore
26           A Hidden Gem Bed and Breakfast        4.846154
27  Ye Olde Walkerville Bed &amp; Breakfast        4.538462
29                           Stonecroft Inn        4.500000
24                          Caesars Windsor        4.437500
11    TownePlace Suites by Marriott Windsor        4.409091

In [53]:
hotelRatingDfVd.head(5)

                                  hotelName  avgvadersentiment
26           A Hidden Gem Bed and Breakfast           0.957973
29                           Stonecroft Inn           0.891623
17        Quality Inn &amp; Suites Downtown           0.875052
5                          University Place           0.866625
27  Ye Olde Walkerville Bed &amp; Breakfast           0.859038

In [54]:
hotelRatingDfGt.tail(5)

                              hotelName  avgRatingScore
2   Ivy Rose Motor Inn &amp; Restaurant        2.878788
14                      Motel 6 Windsor        2.846154
4             Towne &amp; Country Motel        2.727273
23                  Royal Windsor Motel        2.666667
31              Travellers Choice Motel        2.583333

In [55]:
hotelRatingDfVd.tail(5)

                                          hotelName  avgvadersentiment
4                         Towne &amp; Country Motel           0.337627
14                                  Motel 6 Windsor           0.320031
23                              Royal Windsor Motel           0.304720
19  Super 8 by Wyndham Ambassador Bridge Windsor on           0.290834
22                         Windsor Hope Guest House          -0.599400

In [56]:
final= finaldf[finaldf['hotelName'] == 'Windsor Hope Guest House']

In [57]:
final

,hotelName,ratingScore,groundTruth,reviewCol,vader,room,hotel,stay,breakfast,staff,...,job,major,sausage,believe,mattress,machine,star,changed,online,terrible
1906,Windsor Hope Guest House,4,positive,"""Prima hotel, groot zacht bed, eigen airco die...",-0.5994,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
final.loc[1906,'reviewCol']

'"Prima hotel, groot zacht bed, eigen airco die wel veel lawaai maakt, vriendelijk personeel, mega tv, eigen koelkast en magnetron, ruime kamer met balkon, uitzicht op het park en de berg maar wel wat gehorig. Zeker geschikt voor 1 nacht'

(b) Rank hotels by

(i) Average Ground Truth Sentiment

(ii) Average Vader Compound Sentiment Score

Show both top-5 and bottom-5 for both ranking methods. Do they agree or are there interesting
differences?

From the results above we can see that the absolute ranking is different but in both top 5 (Id: 26,27,29) and bottom 5 (Id: 14,4,23) there are three hotels in common means they almost have same relative ranking.

Reasons:
1. Vader sentiment score is purely based on words used by the user and each user eventhough uses the same word "best" they can rate differently beucase the word best is different to them both.
2. If the number of reviews for a hotel are small then its ranking in both list could be different. In my case the vader predicted negative review only for one hotel and if we see that the hotel has only one review and that is not in English. so even though the user gave rating 4 the vader predicted negative.

## Q2 Frequency Analysis

In [59]:
finaldf.head()

,hotelName,ratingScore,groundTruth,reviewCol,vader,room,hotel,stay,breakfast,staff,...,job,major,sausage,believe,mattress,machine,star,changed,online,terrible
0,Bestway Motel,3,negative,"""This was my first time that experienced stayi...",0.8910,1,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,Bestway Motel,4,positive,"""This place was exactly what I needed. Was in ...",0.9759,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bestway Motel,5,positive,"""Came back, and we are glad we did. The new ma...",0.9939,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,Bestway Motel,5,positive,"""Great Hotel. Outside looks rough but they\\'...",0.8074,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bestway Motel,3,negative,"""The pictures I have seen of this place were m...",0.8360,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [60]:
#We are only intereseted in this three column for overall analysis
itemAnalysisDf = finaldf[['reviewCol','groundTruth','vader']]

In [61]:
itemAnalysisDf.head()

                                           reviewCol groundTruth   vader
0  "This was my first time that experienced stayi...    negative  0.8910
1  "This place was exactly what I needed. Was in ...    positive  0.9759
2  "Came back, and we are glad we did. The new ma...    positive  0.9939
3  "Great Hotel.  Outside looks rough but they\\'...    positive  0.8074
4  "The pictures I have seen of this place were m...    negative  0.8360

In [62]:
finaldf.iloc[1,3]

'"This place was exactly what I needed. Was in Windsor for work purposes and didn\\\\\'t want to spend a lot but was worried about cleanliness.\\\\n\\\\nMy room was lovely, clean, with an updated bathroom and big, flat screen TV. It had a mini fridge, microwave, stove top and sink, room was warm and pleasant.\\\\n\\\\nThe gentleman that checked me in was very kind and helpful, probably one of the owners. Every time I came back to my room the bed was made and clean towels were put out.\\\\n\\\\nThis was way more than I expected from a motel and only for $50 a night.\\\\n\\\\nI would stay here again.'

In [63]:
def getTopK(df, k, label_value, label_column='groundTruth', operation=operator.eq, value_column='reviewCol'):
    from nltk.corpus import stopwords
    stop = set(stopwords.words('english'))

    stop.add('hotel')
    stop.add('room')
    stop.add('rooms')
    stop.add('stay')
    stop.add('staff')
    counter = Counter()
    for review in df[operation(df[label_column],label_value)][value_column]:
            counter.update([word.lower() 
                            for word 
                            in re.findall(r'\w+', review) 
                            if word.lower() not in stop and len(word) > 2])
    topk = counter.most_common(k)
    return topk

In [64]:
topkGroundPos = getTopK(df=itemAnalysisDf, k=50, label_value='positive')

In [65]:
topkGroundPos[0:10]

[('breakfast', 1072),
 ('clean', 995),
 ('great', 934),
 ('good', 747),
 ('windsor', 668),
 ('nice', 620),
 ('comfortable', 578),
 ('friendly', 578),
 ('would', 569),
 ('stayed', 537)]

In [66]:
topkGroundNeg = getTopK(df=itemAnalysisDf, k=50, label_value='negative')

In [67]:
topkGroundNeg[0:10]

[('breakfast', 423),
 ('would', 397),
 ('night', 389),
 ('clean', 325),
 ('good', 319),
 ('one', 318),
 ('quot', 310),
 ('desk', 282),
 ('front', 260),
 ('bed', 258)]

In [68]:
pos = dict(topkGroundPos)
neg = dict(topkGroundNeg)
neg.update(pos)
len(neg)

67

In [69]:
#neg

In [70]:
#type(topkGroundPos)

(a) Use term frequency of the words for 

(i) positive reviews and 

(ii) negative with ground truth
sentiment to rank the top-50 most frequent non-stopwords in the review collection. Do you
note anything interesting and/or locale-specific about these top-ranked words?

If we copmare the top 50 word in both lists we can see there are 33 words in common. In means people use the same words in both positive and negative reviews or complain and care about the same things.for example the words "location","parking" and "breakfast" appears in both lists.

we can also see some locale specific words like "windsor", "detroit", "river" becuase the hotels are in windsor and this city has river front. Simlarly for the top negative words the word "windsor" appears.

In [71]:
#topk, finaldf = dataFrameTransformation(hotelDf, reviewDF, k=50)

In [72]:
tagger = PerceptronTagger()
pos_tag = PerceptronTagger().tag

In [73]:

grammar = r"""
    NBAR:
        {<NN.*|JJ>*<NN.*>}  # Nouns and Adjectives, terminated with Nouns
        
    NP:
        {<NBAR>}
        {<NBAR><IN><NBAR>}  # Above, connected with in/of/etc...
"""

In [74]:
# Create phrase tree
chunker = nltk.RegexpParser(grammar)
#

In [75]:
l = 'This is NLP'

In [76]:
#nltk.RegexpParser(l)

In [77]:
chunker

In [78]:

from nltk.corpus import stopwords
stopwords = stopwords.words('english')
lemmatizer = nltk.WordNetLemmatizer()
stemmer = nltk.stem.porter.PorterStemmer()

# generator, generate leaves one by one
def leaves(tree):
    """Finds NP (nounphrase) leaf nodes of a chunk tree."""
    for subtree in tree.subtrees(filter = lambda t: t.label()=='NP' or t.label()=='JJ' or t.label()=='RB'):
        yield subtree.leaves()

# stemming, lematizing, lower case... 
def normalise(word):
    """Normalises words to lowercase and stems and lemmatizes it."""
    word = word.lower()
    word = stemmer.stem(word)
    word = lemmatizer.lemmatize(word)
    return word

# stop-words and length control
def acceptable_word(word):
    """Checks conditions for acceptable word: length, stopword."""
    accepted = bool(2 <= len(word) <= 40
        and word.lower() not in stopwords)
    return accepted

# generator, create item once a time
def get_terms(tree):
    for leaf in leaves(tree):
        #print("leaf")
        #print(leaf)
        term = [normalise(w) for w,t in leaf if acceptable_word(w) ]
        #print("term")
        #print(term)
        # Phrase only
        if len(term)>1:
            yield term

In [80]:
# Flatten phrase lists to get tokens for analysis
def flatten(npTokenList):
    finalList =[]
    for phrase in npTokenList:
        token = ''
        for word in phrase:
            token += word + ' '
        finalList.append(token.rstrip())
    return finalList

In [81]:
#finalList = flatten(npTokenList)

In [82]:

def newDataFrameTransformation(hotelDf, reviewDF, k=500):
    reviews = reviewDF['reviewCol'].values
    
    # Top-k frequent terms
    counter = Counter()
    for review in reviews:
            counter.update(flatten([word
                            for word
                            in get_terms(chunker.parse(pos_tag(re.findall(r'\w+', review)))) 
                            ]))
    topk = counter.most_common(k)        
    
    #Find out if a particular review has the word from topk list
    freqReview = []
    for i in range(len(reviews)):
        tempCounter = Counter(flatten([word 
                                       for word 
                                       in get_terms(chunker.parse(pos_tag(re.findall(r'\w+',reviews[i]))))]))
        topkinReview = [1 if tempCounter[word] > 0 else 0 for (word,wordCount) in topk]
        freqReview.append(topkinReview)
        
        
    #Prepare freqReviewDf
    freqReviewDf = pandas.DataFrame(freqReview)
    dfName = []
    for c in topk:
        dfName.append(c[0])
    freqReviewDf.columns = dfName
    finalreviewDf = reviewDF.join(freqReviewDf)
    finaldf = hotelDf[['hotelName','ratingScore','groundTruth']].join(finalreviewDf)
    return topk, finaldf

In [83]:
reviewDF['reviewCol'][3][0:50]

'"Great Hotel.  Outside looks rough but they\\\\\'ve d'

In [84]:
re.findall(r'\w+', reviewDF['reviewCol'][3][0:50])

['Great', 'Hotel', 'Outside', 'looks', 'rough', 'but', 'they', 've', 'd']

In [85]:
pos_tag(re.findall(r'\w+', reviewDF['reviewCol'][3][0:50]))

[('Great', 'NNP'),
 ('Hotel', 'NNP'),
 ('Outside', 'NNP'),
 ('looks', 'VBZ'),
 ('rough', 'JJ'),
 ('but', 'CC'),
 ('they', 'PRP'),
 ('ve', 'VBP'),
 ('d', 'NN')]

In [86]:
tree = (chunker.parse(pos_tag(re.findall(r'\w+', reviewDF['reviewCol'][3][0:50]))))

In [87]:
tree.draw()

In [88]:
print(tree)

(S
  (NP (NBAR Great/NNP Hotel/NNP Outside/NNP))
  looks/VBZ
  rough/JJ
  but/CC
  they/PRP
  ve/VBP
  (NP (NBAR d/NN)))

In [89]:
get_terms(chunker.parse(pos_tag(re.findall(r'\w+', reviewDF['reviewCol'][3][0:75]))))

In [90]:
([word for word in get_terms(chunker.parse(pos_tag(re.findall(r'\w+', reviewDF['reviewCol'][3][0:100]))))])

[['great', 'hotel', 'outsid'], ['insid', 'nroom']]

In [91]:
(flatten([word for word in get_terms(chunker.parse(pos_tag(re.findall(r'\w+', reviewDF['reviewCol'][3][0:100]))))]))

['great hotel outsid', 'insid nroom']

In [93]:
topk_phrase, finaldf_phrase = newDataFrameTransformation(hotelDf, reviewDF)

In [94]:
topk_phrase[0]

('front desk', 221)

In [95]:
finaldf_phrase.head()

,hotelName,ratingScore,groundTruth,reviewCol,vader,front desk,front desk staff,holiday inn,hampton inn,continent breakfast,...,cigarett burn,top floor,nice area,night stop,eat area,old hotel,counter space,recept staff,quick check,fresh air
0,Bestway Motel,3,negative,"""This was my first time that experienced stayi...",0.8910,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bestway Motel,4,positive,"""This place was exactly what I needed. Was in ...",0.9759,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bestway Motel,5,positive,"""Came back, and we are glad we did. The new ma...",0.9939,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Bestway Motel,5,positive,"""Great Hotel. Outside looks rough but they\\'...",0.8074,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bestway Motel,3,negative,"""The pictures I have seen of this place were m...",0.8360,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
#topk_phrase

In [97]:
#topk_phrase

In [98]:
def getTopKphrase(df, k, label_value, label_column='groundTruth', operation=operator.eq, value_column='reviewCol'):
    #stop = set(stopwords.words('english'))
    
    counter = Counter()
    for review in df.loc[operation(df[label_column],label_value)][value_column]:
            counter.update(flatten([word
                            for word 
                            in get_terms(chunker.parse(pos_tag(re.findall(r'\w+', review)))) 
                            ]))
    topk = counter.most_common(k)  
  
    return topk

In [99]:
topkGroundPosphrase = getTopKphrase(df=finaldf_phrase, k=50, label_value='positive')

In [100]:
topkGroundPosphrase

[('front desk', 110),
 ('front desk staff', 53),
 ('detroit river', 46),
 ('great view', 43),
 ('great place', 42),
 ('hampton inn', 41),
 ('ambassador bridg', 40),
 ('continent breakfast', 40),
 ('holiday inn', 39),
 ('nthe room', 38),
 ('detroit skylin', 38),
 ('complimentari breakfast', 35),
 ('great locat', 35),
 ('comfort inn', 32),
 ('free breakfast', 30),
 ('pool area', 29),
 ('tim horton', 28),
 ('great stay', 26),
 ('good valu', 25),
 ('friendli staff', 25),
 ('hot tub', 24),
 ('hotel staff', 24),
 ('breakfast area', 24),
 ('clean room', 23),
 ('park lot', 23),
 ('breakfast buffet', 23),
 ('short walk', 22),
 ('comfort bed', 22),
 ('easi access', 22),
 ('minut walk', 21),
 ('clean staff', 21),
 ('good stay', 21),
 ('nice hotel', 20),
 ('great valu', 19),
 ('hotel room', 19),
 ('next time', 18),
 ('queen bed', 17),
 ('next door', 17),
 ('nice place', 17),
 ('great hotel', 17),
 ('king bed', 17),
 ('windsor area', 16),
 ('custom servic', 16),
 ('good experi', 16),
 ('night stay', 16),
 ('first time', 16),
 ('great breakfast', 16),
 ('breakfast room', 16),
 ('beauti view', 16),
 ('good place', 15)]

In [101]:
topkGroundNegphrase = getTopKphrase(df=itemAnalysisDf, k=50, label_value='negative')

In [102]:
topkGroundNegphrase

[('front desk', 111),
 ('holiday inn', 32),
 ('front desk staff', 23),
 ('tim horton', 22),
 ('hampton inn', 21),
 ('hotel room', 20),
 ('continent breakfast', 20),
 ('next day', 20),
 ('nthe room', 19),
 ('credit card', 19),
 ('custom servic', 19),
 ('park lot', 19),
 ('night stay', 17),
 ('comfort inn', 14),
 ('free breakfast', 14),
 ('next morn', 13),
 ('ambassador bridg', 13),
 ('air condition', 13),
 ('hot tub', 13),
 ('hotel staff', 12),
 ('nthe hotel', 12),
 ('first night', 12),
 ('first time', 11),
 ('hot water', 11),
 ('non smoke room', 11),
 ('complimentari breakfast', 11),
 ('main road', 11),
 ('next time', 11),
 ('second night', 10),
 ('clean staff', 10),
 ('queen bed', 10),
 ('room rate', 10),
 ('great locat', 10),
 ('good thing', 10),
 ('second floor', 10),
 ('park garag', 10),
 ('sever time', 9),
 ('room servic', 9),
 ('nice view', 9),
 ('bed sheet', 9),
 ('breakfast area', 9),
 ('good valu', 9),
 ('breakfast buffet', 9),
 ('first floor', 9),
 ('air condit', 8),
 ('clean bed', 8),
 ('toilet paper', 8),
 ('king bed', 8),
 ('truck traffic', 8),
 ('doubl bed', 8)]

In [103]:
posphrase = dict(topkGroundPosphrase)
negphrase = dict(topkGroundNegphrase)
negphrase.update(posphrase)
len(negphrase)

74


(b) Repeat this analysis for the top-50 noun phrases and note any interesting results. Do you note anything interesting and/or locale-specific about these top-ranked words?

If we copmare the top 50 word in both lists we can see there are 26 phrases in common. It is much difficult for the people to use exact same phrases. And also the phrases frequency is very less than the words becuase no two people use same phrases

In means people use the same words in both positive and negative reviews or complain and care about the same things.for example the words "location","parking" and "breakfast" appears in both lists.

Here we can more sense of locale specific phrases for example in pos phrases "detroit river", "great view", "ambassador bridg","detroit skyline" becuase the hotels are in windsor and this city has river front and has the ambassdor bridge. 

Simlarly for the top negative words the words "front desk","front desk staff, 23" make more sense beucase the people complain about them. And also the "holdiay inn" and "hamptoninn" words refer to the hotels with same name in windsor

## Q3 Mutual Information

In [104]:
# get Top K mutual information terms from the dataframe
def getMI(topk, df, label_column='groundTruth'):
#     from nltk.corpus import stopwords
#     stop = set(stopwords.words('english'))
    miScore = []
    for word in topk:
        miScore.append([word[0]]+[metrics.mutual_info_score(df[label_column], df[word[0]])])
    miScoredf = pandas.DataFrame(miScore).sort_values(1,ascending=0)
    miScoredf.columns = ['Word','MI Score']
    return miScoredf

In [105]:
midf = [[50,50],[50,50]]
midf = pandas.DataFrame(midf)
midf.columns = ['X','Y']

In [106]:
midf

    X   Y
0  50  50
1  50  50

In [107]:
metrics.mutual_info_score(midf['X'], midf['Y'])

0.0

In [108]:
midf = [[100,0],[0,100]]
midf = pandas.DataFrame(midf)
midf.columns = ['X','Y']

In [109]:
midf

     X    Y
0  100    0
1    0  100

In [110]:
metrics.mutual_info_score(midf['X'], midf['Y'])

0.69314718055994529

In [111]:
math.log(2)

0.6931471805599453

In [112]:
midf = [[0,0],[100,100]]
midf = pandas.DataFrame(midf)
midf.columns = ['X','Y']

In [113]:
midf

     X    Y
0    0    0
1  100  100

In [114]:
metrics.mutual_info_score(midf['X'], midf['Y'])

0.69314718055994529

In [115]:
miScoredf = getMI(topk, finaldf)

In [116]:
miScoredf.head(50)

            Word  MI Score
6          great  0.036153
249        dirty  0.022845
93          told  0.022214
111          old  0.020162
104         said  0.019064
5          clean  0.018669
4          staff  0.017489
15   comfortable  0.016950
45      bathroom  0.015218
251       toilet  0.014912
14      friendly  0.013922
55     excellent  0.013715
499     terrible  0.012868
38       detroit  0.012688
454         poor  0.012186
113        never  0.012183
455       sheets  0.012091
29          quot  0.011858
11       windsor  0.011099
50         river  0.011030
333      someone  0.010034
327        smell  0.009979
73   restaurants  0.009691
3      breakfast  0.009386
26          view  0.009345
35         could  0.009335
177      nothing  0.009308
190         left  0.009252
32       helpful  0.009226
324         loud  0.009177
194    wonderful  0.009107
287          put  0.009057
425         turn  0.008940
12         night  0.008909
489      smelled  0.008726
84           got  0.008704
407        tried  0.008456
472         rude  0.008367
446     outdated  0.008347
95          easy  0.008030
68    definitely  0.007918
25           get  0.007764
131      another  0.007530
358         sink  0.007396
201          pay  0.007152
337         card  0.007126
401        walls  0.007126
125     spacious  0.007037
460      charged  0.006919
86          went  0.006910

In [117]:
miScoredf.tail(25)

            Word      MI Score
90        fridge  8.393433e-06
142    microwave  7.657900e-06
237      quality  7.637509e-06
377         less  7.014347e-06
300       border  6.636850e-06
463       bagels  6.606914e-06
292       garage  6.580034e-06
351        spent  6.545347e-06
369  renovations  6.539410e-06
54         right  4.623869e-06
174         park  3.037746e-06
64       staying  2.379718e-06
378      special  2.307068e-06
320      waffles  1.885490e-06
285         team  1.744302e-06
101          new  1.335281e-06
456       others  1.324138e-06
457         mini  1.244727e-06
490          job  1.165510e-06
63    restaurant  1.141054e-06
281       couple  5.920582e-07
231      offered  2.489175e-07
132         wifi  5.443479e-08
421        level  4.434821e-08
155    extremely  2.373272e-10

(a) Use mutual information (MI) with ground truth sentiment to rank the top-50 most sentimentbearing
non-stopwords in the review collection. Do you note anything interesting and/or
locale-specific about these top-ranked words?

If we see the top MI words we see the words are great, dirty,old,clean. This makes sense becuase great more  in appears more in positive reviews and old appears in negative reviews. we can also infer them from the top 50 positive and negative words we got earlier. If we see the word breakfast which appeared top in both lists actually has very less MI score. Overall MI is sensitive to frequency and it is giving us words which differentiate between classes

We can also see some locale specific words like detroit, windsor and river appers in the list

In [118]:
miScoredf_phrase = getMI(topk_phrase, finaldf_phrase)

In [119]:
#px = sum(finaldf['groundTruth']== 'positive')

In [120]:
miScoredf_phrase.head(50)

                 Word  MI Score
14        great place  0.004467
12         great view  0.004031
160         bed sheet  0.003909
46        easi access  0.003657
44        credit card  0.003414
0          front desk  0.002727
7       detroit river  0.002698
251      bathroom fan  0.002603
280     bathroom door  0.002603
91          main road  0.002364
32         great stay  0.002304
47          good stay  0.002293
356        bed spread  0.002169
338       good condit  0.002169
308          tv remot  0.002169
302          ear plug  0.002169
106    non smoke room  0.002152
110        good thing  0.002029
25           next day  0.001963
36         clean room  0.001897
40         short walk  0.001764
436       fresh towel  0.001734
490     cigarett burn  0.001734
495         old hotel  0.001734
327        ice bucket  0.001734
413        last visit  0.001734
476       park situat  0.001734
398     previou guest  0.001734
463         quot room  0.001734
392       toilet seat  0.001734
307          dead bug  0.001734
63        great hotel  0.001709
114        sever time  0.001703
70        first night  0.001627
72    great breakfast  0.001566
11     detroit skylin  0.001561
151  pleasant surpris  0.001491
155      great servic  0.001491
161        excel stay  0.001491
138        smoke room  0.001461
139      toilet paper  0.001461
48         great valu  0.001376
173        great time  0.001325
157          fit room  0.001325
202  includ breakfast  0.001325
400        blow dryer  0.001300
207         dine room  0.001252
250    cigarett smoke  0.001252
43          next morn  0.001176
236     great restaur  0.001159

(b) Repeat this analysis for the top-50 noun phrases and note any interesting results.
we can see that the MI values are very low for phrases in comparision to signle words becuase MI is sensitive to frequency. some top MI phrases are great view, bed sheet and eaiser acess. means people are complementing the view of the hotel in river front and the bedsheets and its accessibility. The word crecit catd has high mi meaning poeple are complaining about it. great view and detroit river are locale specific. from phrases we can understand which issues are more important.

## Q4 Pointwise Mutual Information

In [121]:
# Simple example of getting pairwise mutual information of a term
def pmiCal(df, x):
    pmilist=[]
    for i in ['positive','negative']:
        for j in [0,1]:
            px = sum(df['groundTruth']==i)/len(df)
#             if px == 0:
#                 px = 0.0001
            py = sum(df[x]==j)/len(df)
#             if py == 0:
#                 py = 0.0001
            k = px*py 
            if k == 0:#Log 0 cannot happen
                k = 0.0001   
            pxy = len(df[(df['groundTruth']==i) & (df[x]==j)])/len(df)
            if pxy==0:#Log 0 cannot happen
                pmi = math.log((pxy+0.0001)/(k))
            else:
                pmi = math.log(pxy/(k))
            pmilist.append([i]+[j]+[px]+[py]+[pxy]+[pmi])
    pmidf = pandas.DataFrame(pmilist)
    pmidf.columns = ['x','y','px','py','pxy','pmi']
    return pmidf

In [122]:
math.log(3)

1.0986122886681098

In [123]:
pmiCal(finaldf,'told')

          x  y        px        py       pxy       pmi
0  positive  0  0.661335  0.944422  0.648141  0.037029
1  positive  1  0.661335  0.055578  0.013195 -1.024472
2  negative  0  0.338665  0.944422  0.296281 -0.076518
3  negative  1  0.338665  0.055578  0.042383  0.811710

In [124]:
#pmiCal(finaldf,'told')['pmi'].sum()

In [125]:
#pmiCal(finaldf,'hampton')

In [126]:
def pmiIndivCal(df,x,gt, label_column='groundTruth'):
    px = sum(df[label_column]==gt)/len(df)
#     if px == 0:
#         px = 0.0001
    py = sum(df[x]==1)/len(df)
#     if py == 0:
#         py = 0.0001
    k = px*py 
    if k == 0:#Log 0 cannot happen
        k = 0.0001   
    pxy = len(df[(df[label_column]==gt) & (df[x]==1)])/len(df)
    if pxy==0:#Log 0 cannot happen
        pmi = math.log((pxy+0.0001)/(k))
    else:
        pmi = math.log(pxy/(k))
    return pmi

In [127]:
# Compute PMI for all terms and all possible labels
def pmiForAllCal(df, label_column='groundTruth', topk=topk):
    #Try calculate all the pmi for top k and store them into one pmidf dataframe
    pmilist = []
    pmiposlist = []
    pmineglist = []
    for word in tqdm(topk):
        pmilist.append([word[0]]+[pmiCal(df,word[0])])
        pmiposlist.append([word[0]]+[pmiIndivCal(df,word[0],'positive',label_column)])
        pmineglist.append([word[0]]+[pmiIndivCal(df,word[0],'negative',label_column)])
    pmidf = pandas.DataFrame(pmilist)
    pmiposlist = pandas.DataFrame(pmiposlist)
    pmineglist = pandas.DataFrame(pmineglist)
    pmiposlist.columns = ['word','pmi']
    pmineglist.columns = ['word','pmi']
    pmidf.columns = ['word','pmi']
    return pmiposlist, pmineglist, pmidf

In [128]:
pmiposlist, pmineglist, pmidf = pmiForAllCal(finaldf)

100%|██████████| 500/500 [01:41<00:00,  5.38it/s]

In [129]:
#Sorted top pmi words for positive reviews
pmiposlist.sort_values('pmi',ascending=0).head(50)

              word       pmi
433          loved  0.393291
194      wonderful  0.343814
325         highly  0.342542
55       excellent  0.294086
448          enjoy  0.285661
310         modern  0.283816
488        station  0.283441
388      welcoming  0.282466
240  accommodating  0.281434
180        enjoyed  0.279963
406       visiting  0.279963
314      fantastic  0.277949
392          thank  0.274658
486         nicely  0.273732
125       spacious  0.267909
387       shopping  0.265074
198        amazing  0.262454
95            easy  0.262042
298         plenty  0.261688
150     waterfront  0.259343
50           river  0.258046
73     restaurants  0.255760
218        perfect  0.255591
160      beautiful  0.253864
38         detroit  0.253294
368        choices  0.247980
299         lovely  0.242536
476            bus  0.241644
375           love  0.241644
6            great  0.241564
405        pleased  0.238290
68      definitely  0.232002
331        skyline  0.228352
297         tunnel  0.225895
440   professional  0.223450
334        awesome  0.221603
254          comfy  0.219338
61           quiet  0.217520
415      courteous  0.216784
134          value  0.209666
257      selection  0.208700
321      efficient  0.203774
438        variety  0.199920
414         choose  0.199920
26            view  0.199424
469          local  0.195771
15     comfortable  0.195353
57       recommend  0.195056
32         helpful  0.189754
139       distance  0.186721

In [130]:
#Sorted top pmi words for negative reviews
pmineglist.sort_values('pmi',ascending=0).head(50)

            word       pmi
499     terrible  1.006759
249        dirty  0.977385
455       sheets  0.964962
454         poor  0.949214
489      smelled  0.915691
251       toilet  0.886630
472         rude  0.876893
425         turn  0.870184
407        tried  0.849130
327        smell  0.846356
477        smoke  0.839123
446     outdated  0.834284
333      someone  0.815682
93          told  0.811710
460      charged  0.795063
401        walls  0.776015
337         card  0.776015
324         loud  0.775261
111          old  0.771967
358         sink  0.770966
319      smoking  0.766892
104         said  0.751628
287          put  0.748972
451         wall  0.741819
426      running  0.737905
410    furniture  0.734439
470        doors  0.722743
450        heard  0.688841
366         upon  0.685864
312       carpet  0.677280
468        clerk  0.677280
190         left  0.662891
385     cleaning  0.658931
420        paper  0.656661
422      hallway  0.655301
262         call  0.648707
177      nothing  0.645817
301          non  0.640912
403        least  0.638814
239      average  0.630760
113        never  0.625320
498       online  0.612742
372  reservation  0.608961
171      manager  0.608652
201          pay  0.606899
29          quot  0.600907
202       looked  0.594759
181       called  0.594759
289      booking  0.591625
483         wait  0.579642

In [131]:
#Complete pmi dataframe
pmidf.head()

        word                                                pmi
0       room            x  y        px        py       pxy  ...
1      hotel            x  y        px        py       pxy  ...
2       stay            x  y        px        py       pxy  ...
3  breakfast            x  y        px        py       pxy  ...
4      staff            x  y        px        py       pxy  ...

(a) For ground truth sentiment, calculate the top-50 words according to PMI of the word occuring
with (i) positive reviews and (ii) negative reviews. Do you note anything interesting and/or
locale-specific about these top-ranked words?

For the positive reviews we can see the top positive are "loved","wonderful","highly","excellent" and this appear mostly in positive reviews. and as PMI is insensitive to frequency and even the relative frequency of the words they can have high pmi. we can see the word river and detroit appearing are locale specific.

For the negative reviews we can see the top words are "terrible","dirty","sheets","rude" which means people are complaining about sheets and rude ness and also the word terrible is moslty used in the negative reviews. we do not get get any locale specific words.

In [132]:
#pmidf

In [133]:
#To access pmi matrix for a specific word
#pmidf[pmidf['word']=='room']['pmi']

In [134]:
# Compute PMI for all terms and all possible labels
def pmiForAllCal_phrase(df, label_column='groundTruth', topk=topk_phrase):
    #Try calculate all the pmi for top k and store them into one pmidf dataframe
    pmilist = []
    pmiposlist = []
    pmineglist = []
    for word in tqdm(topk_phrase):
        pmilist.append([word[0]]+[pmiCal(df,word[0])])
        pmiposlist.append([word[0]]+[pmiIndivCal(df,word[0],'positive',label_column)])
        pmineglist.append([word[0]]+[pmiIndivCal(df,word[0],'negative',label_column)])
    pmidf = pandas.DataFrame(pmilist)
    pmiposlist = pandas.DataFrame(pmiposlist)
    pmineglist = pandas.DataFrame(pmineglist)
    pmiposlist.columns = ['word','pmi']
    pmineglist.columns = ['word','pmi']
    pmidf.columns = ['word','pmi']
    return pmiposlist, pmineglist, pmidf

In [135]:
pmiposlist_phrase, pmineglist_phrase, pmidf_phrase = pmiForAllCal_phrase(finaldf_phrase)

100%|██████████| 500/500 [01:34<00:00,  5.20it/s]

In [136]:
#Sorted top pmi words for positive reviews
pmiposlist_phrase.sort_values('pmi',ascending=0).head(50)

                                  word       pmi
298                         green suit  0.413494
295  best western plu waterfront hotel  0.413494
248                        second stay  0.413494
384               hampton inn amp suit  0.413494
236                      great restaur  0.413494
257                        awesom view  0.413494
231                        wonder stay  0.413494
221                        common area  0.413494
217                         good choic  0.413494
290                          cold item  0.413494
265                          next stay  0.413494
270                  comfort breakfast  0.413494
294                   downtown detroit  0.413494
206                         water park  0.413494
151                   pleasant surpris  0.413494
297                      train station  0.413494
273                        sunday morn  0.413494
161                         excel stay  0.413494
155                       great servic  0.413494
389                     devonshir mall  0.413494
396                      sever restaur  0.413494
472                   delici breakfast  0.413494
428                          big group  0.413494
469                          nice size  0.413494
458                        short notic  0.413494
399                          fridg amp  0.413494
173                         great time  0.413494
403                         short stay  0.413494
321                          meet room  0.413494
306                       jacuzzi room  0.413494
404                        excel place  0.413494
466                          food item  0.413494
406                       great option  0.413494
435                           new year  0.413494
202                   includ breakfast  0.413494
438                       sure everyth  0.413494
442           free continent breakfast  0.413494
448                        bottl water  0.413494
157                           fit room  0.413494
450                        food option  0.413494
317                      overal experi  0.413494
367                    breakfast staff  0.413494
430                      detroit close  0.413494
387                        extra night  0.413494
451                      windsor thank  0.413494
412                          nice walk  0.413494
453                           low rate  0.413494
456                        super comfi  0.413494
362                    river view room  0.413494
325                          7th floor  0.413494

In [137]:
#Sorted top pmi words for negative reviews
pmineglist_phrase.sort_values('pmi',ascending=0).head(50)

                     word       pmi
160             bed sheet  1.082745
327            ice bucket  1.082745
436           fresh towel  1.082745
413            last visit  1.082745
400            blow dryer  1.082745
398         previou guest  1.082745
392           toilet seat  1.082745
356            bed spread  1.082745
338           good condit  1.082745
308              tv remot  1.082745
463             quot room  1.082745
490         cigarett burn  1.082745
307              dead bug  1.082745
302              ear plug  1.082745
495             old hotel  1.082745
280         bathroom door  1.082745
251          bathroom fan  1.082745
476           park situat  1.082745
207             dine room  0.900424
250        cigarett smoke  0.900424
44            credit card  0.888589
106        non smoke room  0.882075
318  tim horton next door  0.859602
319              year old  0.859602
324          long weekend  0.859602
339         new ownership  0.859602
354        english muffin  0.859602
355            upon check  0.859602
357           entir hotel  0.859602
255           hotel manag  0.859602
346          averag hotel  0.859602
91              main road  0.841583
139          toilet paper  0.831431
138            smoke room  0.831431
110            good thing  0.820381
410            hotel stay  0.795063
373           access room  0.795063
390             thin wall  0.795063
468           cheap place  0.795063
394           small child  0.795063
395           follow morn  0.795063
397           origin room  0.795063
479            paper thin  0.795063
471           nthe servic  0.795063
467         extra blanket  0.795063
452            desk chair  0.795063
470          decent place  0.795063
379            first morn  0.795063
445            small room  0.795063
420             much nois  0.795063

(b) Repeat this analysis for the top-50 noun phrases and note any interesting results.

Always phrases give us more sense because we can derive the issue

we can see in the top positive phrases we can all of them have same pmi score. this is becuase as long as they appear only in positive irrespective of their relative frequency they have same pmi. we can see that peopl are liking the hampton suit and view of the river.

the phrasesdavinshor mall and hampton inn are locale to windsor. 

For negative reviews we can see for the same reason some of them have same pmi and also we know sheets appeared in the negative word list but from phrase list we can see they are talking about bedsheet and same for thin wall. for most of psotive phrases
are abstract like great, wonder and awesome but we can clearly dientify the issue "toliet seat","fresh towel" in the negative.

No locale specific in the negativ list.

In [138]:
#finaldf

In [139]:
finaldftop = finaldf[finaldf['hotelName'] == 'A Hidden Gem Bed and Breakfast']

In [140]:
finaldftopphrase = finaldf_phrase[finaldf_phrase['hotelName'] == 'A Hidden Gem Bed and Breakfast']

In [141]:
finaldftop

,hotelName,ratingScore,groundTruth,reviewCol,vader,room,hotel,stay,breakfast,staff,...,job,major,sausage,believe,mattress,machine,star,changed,online,terrible
2320,A Hidden Gem Bed and Breakfast,5,positive,"""We recently stayed here for 11 nights during ...",0.9848,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2321,A Hidden Gem Bed and Breakfast,5,positive,"""We stayed at Kirk\\'s over the weekend while ...",0.9229,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2322,A Hidden Gem Bed and Breakfast,5,positive,"""I booked the Green Suite to have room to prac...",0.9723,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2323,A Hidden Gem Bed and Breakfast,5,positive,"""Spent a week @ Kirk\\'S B&amp;B visiting ou...",0.7358,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2324,A Hidden Gem Bed and Breakfast,3,negative,"""The best thing about this B &amp; is the loca...",0.9579,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2325,A Hidden Gem Bed and Breakfast,5,positive,"""My husband and I stayed at the Kirk\\'s B &am...",0.9492,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2326,A Hidden Gem Bed and Breakfast,5,positive,"""I had originally booked an overnight stay els...",0.9977,1,0,1,1,0,...,0,1,0,0,0,0,0,0,0,0
2327,A Hidden Gem Bed and Breakfast,5,positive,"""Jim and Barbe run a beautiful B&amp;B located...",0.8932,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2328,A Hidden Gem Bed and Breakfast,5,positive,"""My wife, expectant baby and I were looking fo...",0.9876,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2329,A Hidden Gem Bed and Breakfast,5,positive,"""What a great find! A Hidden Gem really live...",0.9951,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2330,A Hidden Gem Bed and Breakfast,5,positive,"""It was a delight to stay in The Green Suite, ...",0.9836,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2331,A Hidden Gem Bed and Breakfast,5,positive,"""First of all the room was so much larger than...",0.9365,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2332,A Hidden Gem Bed and Breakfast,5,positive,"""A Hidden Gem had everything we wanted for our...",0.9555,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2333,A Hidden Gem Bed and Breakfast,5,positive,"""My daughter and I recently stayed at A Hidden...",0.9919,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2334,A Hidden Gem Bed and Breakfast,5,positive,"""We previously stayed at the former B&amp;B at...",0.9913,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2335,A Hidden Gem Bed and Breakfast,5,positive,"""On a recent visit to Windsor, my husband and ...",0.9917,0,1,1,1,0,...,0,0,1,0,0,0,0,0,0,0
2336,A Hidden Gem Bed and Breakfast,4,positive,"""We stayed here for two nights whilst holidayi...",0.9920,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2337,A Hidden Gem Bed and Breakfast,5,positive,"""We stayed one night in &quot;The Loft&quot; r...",0.9798,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2338,A Hidden Gem Bed and Breakfast,5,positive,"""I have stayed in many B &amp; Bs. A Hidden G...",0.9015,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2339,A Hidden Gem Bed and Breakfast,4,positive,"""I have stayed at A Hidden Gem twice now - onc...",0.9239,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2340,A Hidden Gem Bed and Breakfast,5,positive,"""I stayed 5 nights at this wonderful B&amp;B s...",0.9940,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2341,A Hidden Gem Bed and Breakfast,5,positive,"""We had the opportunity to stay at A Hidden Ge...",0.9758,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2342,A Hidden Gem Bed and Breakfast,5,positive,"""Staying at this older home on Old Walkerville...",0.9792,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2343,A Hidden Gem Bed and Breakfast,5,positive,"""My husband and I had the pleasure to spend 6 ...",0.9871,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2344,A Hidden Gem Bed and Breakfast,5,positive,"""Booked the loft,,,was spacious,,,comfortable,...",0.9623,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2345,A Hidden Gem Bed and Breakfast,5,positive,"""we were welcomed in and taken care of right a...",0.9647,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [142]:
finaldftop.loc[2324,'reviewCol']

'"The best thing about this B &amp; is the location. If travelling to Windsor the Walkerville area is a great location to stay in. There are many great restaurants a few blocks away. The B &amp; B is close to Wilistead and Hiram Walkers (you must do the HiramWalkers Tour). \\\\nKirks B &amp; B has lovely gardens. It\\\\\'s nice inside but a &quot;little worn on the edges.&quot; I stayed with a friend in a room with 2 single beds. It was a little cramped. The problem was there was no where outside the room to sit. I\\\\\'m an earlier riser and my friend sleeps in. \\\\nBreakfast was fine. Jim is friendly and so helpful. \\\\nI have given this B &amp; B an average rating as it just did not have a welcoming, open feel previously reported.'

In [143]:
finaldfbottom = finaldf[finaldf['hotelName'] == 'Travellers Choice Motel']

In [144]:
finaldfbottomphrase = finaldf_phrase[finaldf_phrase['hotelName'] == 'Travellers Choice Motel']

In [145]:
finaldfbottom.head()

,hotelName,ratingScore,groundTruth,reviewCol,vader,room,hotel,stay,breakfast,staff,...,job,major,sausage,believe,mattress,machine,star,changed,online,terrible
2489,Travellers Choice Motel,2,negative,"""Pros: Very clean room.\\n Very comfo...",0.9480,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2490,Travellers Choice Motel,4,positive,"""Stayed 2 nights in two different rooms.\\n\\n...",0.8908,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2491,Travellers Choice Motel,4,positive,"""Liked: Very cheap nightly rate (very good val...",0.8716,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2492,Travellers Choice Motel,2,negative,"""Really old and outdated but when you only pay...",0.7066,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2493,Travellers Choice Motel,4,positive,"""Spending BIG is not necessarily giving one co...",0.8688,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [146]:
pmiposlisttop, pmineglisttop, pmidftop = pmiForAllCal(finaldftop)

100%|██████████| 500/500 [00:13<00:00, 36.07it/s]

In [147]:
pmiposlistbottom, pmineglistbottom, pmidfbottom = pmiForAllCal(finaldfbottom)

100%|██████████| 500/500 [00:14<00:00, 34.13it/s]

In [148]:
pmiposlist_phrasetop, pmineglist_phrasetop, pmidf_phrasetop = pmiForAllCal_phrase(finaldftopphrase)

100%|██████████| 500/500 [00:14<00:00, 33.42it/s]

In [149]:
pmiposlist_phrasebottom, pmineglist_phrasebottom, pmidf_phrasebottom = pmiForAllCal_phrase(finaldfbottomphrase)

100%|██████████| 500/500 [00:14<00:00, 29.23it/s]

In [150]:
pmiposlisttop.sort_values('pmi',ascending=0).head(20)

            word       pmi
348      thought  0.039221
305         give  0.039221
437        table  0.039221
170         long  0.039221
303       coming  0.039221
172        visit  0.039221
372  reservation  0.039221
174         park  0.039221
373         book  0.039221
433        loved  0.039221
300       border  0.039221
178         side  0.039221
374      options  0.039221
180      enjoyed  0.039221
430         huge  0.039221
429         fact  0.039221
183       pretty  0.039221
184         busy  0.039221
185         want  0.039221
186          nwe  0.039221

In [151]:
pmineglisttop.sort_values('pmi',ascending=0).head(50)

            word       pmi
195        thing  3.258097
239      average  3.258097
169      problem  3.258097
40          beds  3.258097
167         fine  3.258097
274         open  3.258097
442       inside  3.258097
365         must  3.258097
487   travelling  2.564949
464   nbreakfast  2.564949
179      outside  2.564949
62          best  2.564949
268        given  2.159484
52        little  2.159484
388    welcoming  2.159484
32       helpful  1.871802
29          quot  1.871802
102         away  1.871802
39         close  1.648659
14      friendly  1.648659
10          nice  1.312186
208         feel  1.312186
100         many  1.178655
73   restaurants  1.178655
22          area  1.178655
299       lovely  1.060872
6          great  0.955511
17      location  0.773190
65           amp  0.619039
0           room  0.550046
13        stayed  0.550046
2           stay  0.424883
11       windsor  0.367725
319      smoking  0.000000
316       person  0.000000
314    fantastic  0.000000
312       carpet  0.000000
308       seemed  0.000000
306         else  0.000000
302         deal  0.000000
301          non  0.000000
470        doors  0.000000
321    efficient  0.000000
295         past  0.000000
294   ambassador  0.000000
293         fast  0.000000
292       garage  0.000000
291        worth  0.000000
290      evening  0.000000
289      booking  0.000000

There are 25 positive reviews and 1 negative review only. 

For negative we can see zeros becuase the if the word doesn't appear in this review we get pxy = 0 and the final answer 0 becuase we added 0.00001 to both numerator and denominator in pmi calcualtion. And for negative we also get high pmi values and same becuase the frequency of negative is 1/26 so log(1/1/26) and as long as the words appeat only in this negative they have the same pmi.

for the positive we can say people like table nothing specific to windsor is talked.

In [152]:
pmiposlist_phrasetop.sort_values('pmi',ascending=0).head(20)

                 word       pmi
375    breakfast time  0.039221
101        nthe locat  0.039221
29          next time  0.039221
118       short drive  0.039221
472  delici breakfast  0.039221
293       scrambl egg  0.039221
230        long drive  0.039221
40         short walk  0.039221
297     train station  0.039221
298        green suit  0.039221
174         nour room  0.039221
54       comfort suit  0.039221
25           next day  0.039221
451     windsor thank  0.039221
57       windsor area  0.039221
213     nthe bathroom  0.039221
98        fresh fruit  0.039221
62   downtown windsor  0.039221
94        second time  0.039221
183       main street  0.039221

In [153]:
pmineglist_phrasetop.sort_values('pmi',ascending=0).head(20)

               word       pmi
13      great locat  2.564949
0        front desk  0.000000
326      clean ladi  0.000000
339   new ownership  0.000000
338     good condit  0.000000
337  morn breakfast  0.000000
336     mainten man  0.000000
335     night staff  0.000000
334      first stay  0.000000
333   major highway  0.000000
332       great bed  0.000000
331      extra mile  0.000000
330       good deal  0.000000
329       good view  0.000000
328       2nd floor  0.000000
327      ice bucket  0.000000
325       7th floor  0.000000
341        size bed  0.000000
324    long weekend  0.000000
323       coffe pot  0.000000

exaclty same reason negative phrases we get lot zeros and only one high positive pmi. and as there is only review and he used i checked the review and he only said good about location but he felt the room is small so he gave 1 rating. 

in the positive phrases we can see that the people liked about breakfast and its time, and also localtion specific have appeared. but most of them are hotel specific

In [154]:
pmiposlistbottom.sort_values('pmi',ascending=0).head(20)

          word       pmi
128     bridge  1.098612
391      leave  1.098612
254      comfy  1.098612
456     others  1.098612
251     toilet  1.098612
409      older  1.098612
408     nearby  1.098612
465      bring  1.098612
248  renovated  1.098612
406   visiting  1.098612
163    comfort  1.098612
43        free  1.098612
482      cheap  1.098612
91    business  1.098612
157        big  1.098612
48       price  1.098612
486     nicely  1.098612
490        job  1.098612
134      value  1.098612
6        great  1.098612

In [155]:
pmineglistbottom.sort_values('pmi',ascending=0).head(20)

            word       pmi
250       return  0.405465
443        maker  0.405465
171      manager  0.405465
172        visit  0.405465
173  continental  0.405465
175          say  0.405465
398        ready  0.405465
177      nothing  0.405465
178         side  0.405465
181       called  0.405465
394    reception  0.405465
186          nwe  0.405465
187         took  0.405465
189         come  0.405465
190         left  0.405465
193       second  0.405465
194    wonderful  0.405465
195        thing  0.405465
196         size  0.405465
197         late  0.405465

In [156]:
pmiposlist_phrasebottom.sort_values('pmi',ascending=0).head(10)

               word       pmi
260       great job  1.098612
22        good valu  1.098612
148     differ room  1.098612
0        front desk  0.000000
336     mainten man  0.000000
332       great bed  0.000000
333   major highway  0.000000
334      first stay  0.000000
335     night staff  0.000000
337  morn breakfast  0.000000

In [157]:
pmineglist_phrasebottom.sort_values('pmi',ascending=0).head(10)

                  word       pmi
160          bed sheet  0.405465
143          long time  0.405465
71           doubl bed  0.405465
33          first time  0.405465
49           hot water  0.405465
175  ground floor room  0.405465
355         upon check  0.405465
280      bathroom door  0.405465
114         sever time  0.405465
238          new hotel  0.405465

Repeat this analysis for the single top and single bottom hotel (according to the ground
truth rating). Do you gain any useful hotel-specific insights about what is good and bad
about these two hotels? If not, explain why not.

we can see that in both top and bottom cases these pmi are giving us hotel specific insights more than the windsor specifc. like groung floor room and bathroom door are bad

## Q5

### (a) Histogram
(a) Show separate histograms of ground truth and Vader sentiment scores (ignore hotel ID).
Do you notice any interesting differences?

In [158]:
def getHistogram(measure, title):
    if measure=='both':
        x = [finaldf['ratingScore'].values/5]
        y = [finaldf['vader'].values]
        bins = np.linspace(-1, 1, 100)
        plt.title(title)
        plt.hist(x, bins, label='x')
        plt.hist(y, bins, label='y')
        plt.legend(loc='upper right')
        plt.show()
    
    else:
        plt.hist(finaldf[measure].values)
        plt.title(title)
        plt.xlabel("Value")
        plt.ylabel("Frequency")
        fig = plt.gcf()

In [159]:
#df = finaldf.groupby('ratingScore').count()

FREQUENCY OF rviews for ratings ascending : 183,217,447,805,849

In [ ]:
getHistogram('ratingScore', 'Ground Truth')

In [ ]:
getHistogram('vader', 'Vadar Sentiment Analysis')

we can see that the distributions are slightly different we can see that the vader is giving mostly giving positive values even for the negative reviews. if see the example 2324 of the top hotel I described above the user gave 3 rating but vader gave 0.98. The vader can be tricked by long legnthy reviews which have very high postive reviws and one negative word. It is catching in some instances but not all.

(b) Show a histogram of the number of reviews per hotel. Do you notice any interesting
trends? Are these expected?

In [ ]:
df = finaldf.groupby('hotelName').count() 
plt.hist(df['ratingScore'])
plt.xlabel("Value")
plt.ylabel("Frequency")
fig = plt.gcf()

yes the graph is skewed and there are more hotels in the low ratings side. This can be genrally expected becuase users tend to go to hotels with very positive reviews and also not all hotels have same strategic location, capacity.

In [ ]:
getHistogram('both', 'Ground Truth v.s Vader')

In [ ]:
tpdf = pandas.DataFrame(topkGroundPos[0:10])
tndf = pandas.DataFrame(topkGroundNeg[0:10])
tpdf.columns =['word','count']
tndf.columns =['word','count']
tpdf['type'] = 'Positive'
tndf['type'] = 'Negative'
overlayhist = pandas.concat([tpdf,tndf])
#overlayhist

In [ ]:
sns.barplot(x="count", y='word', hue='type', data=overlayhist)

## (b) Boxplots
(a) In two plots, one for ground truth star rating and one for Vader sentiment, show a plot
of 5 side-by-side boxplots of these scores.

In [ ]:
#finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[0]]

In [ ]:
#Plot top 5 side-by-side boxplot for top 5 ground truth rated hotel
tp5gthotel = hotelRatingDfGt.sort_values('avgRatingScore',ascending=0).head(5)
tp5gthotel['hotelName'].values

hampton = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[0]]['ratingScore']
towneplace = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[1]]['ratingScore']
hiltonGarden = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[2]]['ratingScore']
homewood = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[3]]['ratingScore']
courtyard = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[4]]['ratingScore']

data = [hampton, towneplace, hiltonGarden, homewood, courtyard]
# multiple box plots on one figure
plt.figure()
plt.boxplot(data)
plt.show()

In [ ]:
#Plot top 5 side-by-side boxplot for top 5 ground truth rated hotel
tp5gthotel = hotelRatingDfGt.sort_values('avgRatingScore',ascending=0).head(5)
tp5gthotel['hotelName'].values

hampton = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[0]]['vader']
towneplace = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[1]]['vader']
hiltonGarden = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[2]]['vader']
homewood = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[3]]['vader']
courtyard = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[4]]['vader']


data = [hampton, towneplace, hiltonGarden, homewood, courtyard]
# multiple box plots on one figure
plt.figure()
plt.boxplot(data)
plt.show()

THese box plots compare top five hotels picked according to the ground truth and compared the distribtuions for ratings and vader score. For the same hotels we can clearly see the vader sentiment scores are moved towards the top means vader is slighly biased towards the positive as said earlier.

In [ ]:
tp5gthotel = hotelRatingDfVd.sort_values('avgvadersentiment',ascending=0).head(5)
tp5gthotel['hotelName'].values

In [ ]:
#hotelRatingDfVd

In [ ]:
#Plot top 5 side-by-side boxplot for top 5 ground truth rated hotel
tp5gthotel = hotelRatingDfVd.sort_values('avgvadersentiment',ascending=0).head(5)
tp5gthotel['hotelName'].values

hampton = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[0]]['vader']
towneplace = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[1]]['vader']
hiltonGarden = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[2]]['vader']
homewood = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[3]]['vader']
courtyard = finaldf.loc[finaldf['hotelName'] == tp5gthotel['hotelName'].values[4]]['vader']


data = [hampton, towneplace, hiltonGarden, homewood, courtyard]
# multiple box plots on one figure
plt.figure()
plt.boxplot(data)
plt.show()

Aging the vader distributiosn are less spread incoparision to average rating and they are towards the higher vader values.

(b) Report the mean and variance of the ground truth and Vader sentiment scores for the
top-5 ranked hotels according to star rating.

In [ ]:
hotelNames = finaldf['hotelName'].unique()
hotelRating = []
for hotel in hotelNames:
    itemDf = finaldf.loc[finaldf['hotelName']==hotel]
    hotelRating.append([hotel,itemDf['ratingScore'].count(),itemDf['ratingScore'].mean(),itemDf['ratingScore'].var(),itemDf['vader'].mean(),itemDf['vader'].var()])
hotelRatingDf = pandas.DataFrame(hotelRating)
hotelRatingDf.columns=['hotelName','Number of Reviews','RatingScoreMean','RatingScoreVariance','VaderMean','VaderVariance']
hotelRatingDf = hotelRatingDf.sort_values('RatingScoreMean',ascending=0)
hotelRatingDf.head()

In [ ]:
#hotelRatingDfGt.sort_values('avgRatingScore',ascending=0).head(5)

(c) Which do you find more informative, the boxplots or the mean and variance, or are they
equally informative? Why?

In general boxplots are more informative becuase we can geet the sense of destribution (becuase not all are gaussian) and also the onutliers. In this case we can see the outlier in the box plot and also distributiosn are more clear in the boxplots.

## (c) Scatterplots and heatmaps
(a) Show both a scatterplot and heatmap of ground truth score (star rating) versus Vader
sentiment score. Each review is a point on the scatterplot. Do you notice anything
interesting? What does this tell you about star ratings vs. Vader sentiment scores?
What does this tell you about human ratings and/or Vader sentiment analysis?

In [ ]:
y = finaldf['ratingScore'].values
x = finaldf['vader'].values
plt.plot(x, y,"o")
plt.ylabel('Rating')
plt.xlabel('Vader Score')

we can see that the in higer ground truth ratings the vader score is performing more better than the negative ground truth ratings. in case of lower ratings the vader has uniform distribution clealry meaning the vader is giving postive values for lower ratings and this can be due to the more subtle negative reviews. in case of positive raings the ratings are subjective eventhough two users right same review they can still give different ratings becuase it is subjective to them.

In [ ]:
from scipy.stats.kde import gaussian_kde

k = gaussian_kde(np.vstack([x, y]))
xi, yi = np.mgrid[x.min():x.max():x.size**0.5*1j,y.min():y.max():y.size**0.5*1j]
zi = k(np.vstack([xi.flatten(), yi.flatten()]))

In [ ]:
cmap = sns.cubehelix_palette(light=1, as_cmap=True)
fig = plt.figure(figsize=(6,8))
ax1 = fig.add_subplot(211)
ax2 = fig.add_subplot(212)

ax1.pcolormesh(xi, yi, np.log10(zi.reshape(xi.shape)), cmap=cmap)
ax2.contourf(xi, yi, np.log10(zi.reshape(xi.shape)), cmap=cmap)

ax1.set_xlim(x.min(), x.max())
ax1.set_ylim(y.min(), y.max())
ax2.set_xlim(x.min(), x.max())
ax2.set_ylim(y.min(), y.max())

ax1.set_xlabel('Vader Score')
ax1.set_ylabel('Rating')

ax2.set_xlabel('Vader Score')
ax2.set_ylabel('Rating')

(b) Show two scatterplots and two heatmaps of the length of reviews versus each of ground
truth score and Vader sentiment score. Each review is a point on the scatterplot. Are
there any trends?

In [ ]:
#finaldf

In [ ]:
x = finaldf['reviewCol'].apply(len).values
y = finaldf['ratingScore'].values
plt.plot(x, y,"o")
plt.ylabel('Rating Score')
plt.xlabel('Length of Reviews')

we can see that the lenght review has no speicfic effect on the raing the distribution is almost uniform.

In [ ]:
from scipy.stats.kde import gaussian_kde

k = gaussian_kde(np.vstack([x, y]))
xi, yi = np.mgrid[x.min():x.max():x.size**0.5*1j,y.min():y.max():y.size**0.5*1j]
zi = k(np.vstack([xi.flatten(), yi.flatten()]))

In [ ]:
cmap = sns.cubehelix_palette(light=1, as_cmap=True)
fig = plt.figure(figsize=(6,8))
ax1 = fig.add_subplot(211)
ax2 = fig.add_subplot(212)

ax1.pcolormesh(xi, yi, np.log10(zi.reshape(xi.shape)), cmap=cmap)
ax2.contourf(xi, yi, np.log10(zi.reshape(xi.shape)), cmap=cmap)

ax1.set_xlim(x.min(), x.max())
ax1.set_ylim(y.min(), y.max())
ax2.set_xlim(x.min(), x.max())
ax2.set_ylim(y.min(), y.max())

ax1.set_xlabel('Vader Score')
ax1.set_ylabel('Rating')

ax2.set_xlabel('Vader Score')
ax2.set_ylabel('Rating')

In [ ]:
x = finaldf['reviewCol'].apply(len).values
y = finaldf['vader'].values
plt.plot(x, y,"o")
plt.ylabel('Vader Scores')
plt.xlabel('Length of Reviews')

we can see that this distribution is different from the above uniform distribution. The vader is getting more wrong in specific the 3 rating and 2 rating reviews which are larger. it means the reviews where the rater is writing more lenghtly reviews but only very few negative words and also the subjectiviey of the rater comes in to the part.

For lenghty reviews with mixed words may get the vader wrong. becuase during normalization of the vader score the lenghty reviews clearly get towards the positive side and this can be partially tuned.

In [ ]:
from scipy.stats.kde import gaussian_kde

k = gaussian_kde(np.vstack([x, y]))
xi, yi = np.mgrid[x.min():x.max():x.size**0.5*1j,y.min():y.max():y.size**0.5*1j]
zi = k(np.vstack([xi.flatten(), yi.flatten()]))

In [ ]:
cmap = sns.cubehelix_palette(light=1, as_cmap=True)
fig = plt.figure(figsize=(6,8))
ax1 = fig.add_subplot(211)
ax2 = fig.add_subplot(212)

ax1.pcolormesh(xi, yi, np.log10(zi.reshape(xi.shape)), cmap=cmap)
ax2.contourf(xi, yi, np.log10(zi.reshape(xi.shape)), cmap=cmap)

ax1.set_xlim(x.min(), x.max())
ax1.set_ylim(y.min(), y.max())
ax2.set_xlim(x.min(), x.max())
ax2.set_ylim(y.min(), y.max())

ax1.set_xlabel('Vader Score')
ax1.set_ylabel('Rating')

ax2.set_xlabel('Vader Score')
ax2.set_ylabel('Rating')

(c) Show two scatterplots of the number of reviews per hotel versus each of average ground
truth score and average Vader sentiment score. In this case, each hotel is a single point
on the scatterplot. Are there any trends?

In [ ]:
x = hotelRatingDf['Number of Reviews'].values
y = hotelRatingDf['RatingScoreMean'].values
plt.plot(x, y,"o")
plt.ylabel('RatingScoreMean')
plt.xlabel('Number of Reviews')
#xlim

we can see that the lower number of reviews the ratings are spread and for hihger reviews they are moslty positive. I cannot generalize anything becuase I have less number of hotels and only these two hotels may have strategic advatage.

In [ ]:
#hotelRatingDf

In [ ]:
#hotelRatingDf

In [ ]:
x = hotelRatingDf['Number of Reviews'].values
y = hotelRatingDf['VaderMean'].values
plt.plot(x, y,"o")
plt.ylabel('RatingScoreMean')
plt.xlabel('Number of Reviews')

I cannot generalize thisto becuase the hotels can have strategic advantage. and also the outlier for the one vader is due to the hotel has only one review.

In [ ]:
!type trip-advisor-crawler.py

In [160]:
finaldf_phrase.shape

(2501, 505)

In [161]:
mldf = finaldf_phrase.iloc[:,0:55]

In [162]:
mldf.head()

,hotelName,ratingScore,groundTruth,reviewCol,vader,front desk,front desk staff,holiday inn,hampton inn,continent breakfast,...,short walk,second floor,nthe hotel,next morn,credit card,king suit,easi access,good stay,great valu,hot water
0,Bestway Motel,3,negative,"""This was my first time that experienced stayi...",0.8910,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Bestway Motel,4,positive,"""This place was exactly what I needed. Was in ...",0.9759,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bestway Motel,5,positive,"""Came back, and we are glad we did. The new ma...",0.9939,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Bestway Motel,5,positive,"""Great Hotel. Outside looks rough but they\\'...",0.8074,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bestway Motel,3,negative,"""The pictures I have seen of this place were m...",0.8360,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [163]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.exceptions import ConvergenceWarning
import numpy as np
from scipy import stats

In [173]:
# get the baseline data
X =  mldf.iloc[:,5:55]
y = [1 if word == 'positive' else 0 for word in mldf['groundTruth'].values ]



# split to train and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# train a logistic regression classifier
clf = LogisticRegression(C=1.0).fit(X_train, y_train)

# predict on train and test set
y_train_predict = clf.predict(X_train)
y_test_predict = clf.predict(X_test)

# calculate train and test accuracy
train_accuracy = accuracy_score(y_train, y_train_predict)
test_accuracy = accuracy_score(y_test, y_test_predict)

# report results
print("Train accuracy: {}".format(train_accuracy))
print("Test accuracy: {}".format(test_accuracy))

Train accuracy: 0.6748571428571428
Test accuracy: 0.6537949400798935

In [174]:
def random_mean_ci(X, y, num_tests):
    # train_results is a list of train accuracy results for the differrent random splits of the dataset
    train_results = []
    
    # test_results is a list of test accuracy results for the differrent random splits of the dataset
    test_results = []
    
    for i in range(0,num_tests):
    
        # split to train and test set
        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=random.randint(1,1000))

        # train a logistic regression classifier
        clf = LogisticRegression(C=1.0).fit(X_train, y_train)

        # predict on train and test set
        y_train_predict = clf.predict(X_train)
        y_test_predict = clf.predict(X_test)

        # calculate train and test accuracy
        train_accuracy = accuracy_score(y_train, y_train_predict)
        test_accuracy = accuracy_score(y_test, y_test_predict)

        train_results.append(train_accuracy)
        test_results.append(test_accuracy)
    

    train_mean = np.mean(train_results)
    train_ci_low, train_ci_high = stats.t.interval(0.95, len(train_results)-1, loc=train_mean, scale=stats.sem(train_results))
    
    test_mean = np.mean(test_results)
    test_ci_low, test_ci_high = stats.t.interval(0.95, len(test_results)-1, loc=test_mean, scale=stats.sem(test_results))
    

    assert isinstance(train_mean, float) and isinstance(train_ci_low, float) and isinstance(train_ci_high, float), "return types"
    assert isinstance(test_mean, float) and isinstance(test_ci_low, float) and isinstance(test_ci_high, float), "return types"
    
    return train_mean, train_ci_low, train_ci_high, test_mean, test_ci_low, test_ci_high

In [166]:
train_mean10, train_low10, train_high10, test_mean10, test_low10, test_high10 = random_mean_ci(X, y, num_tests = 10)
print("Train mean accuracy over 10 random splits: {}".format(train_mean10))
print("Train confidence interval over 10 random splits: [{}, {}]".format(train_low10, train_high10))
print("Test mean accuracy over 10 random splits: {}".format(test_mean10))
print("Test confidence interval over 10 random splits: [{}, {}]".format(test_low10, test_high10))

Train mean accuracy over 10 random splits: 0.6780571428571429
Train confidence interval over 10 random splits: [0.6738564910474446, 0.6822577946668412]
Test mean accuracy over 10 random splits: 0.6671105193075899
Test confidence interval over 10 random splits: [0.6563524948710726, 0.6778685437441072]

In [167]:
reviews = reviewDF['reviewCol'].values  
topk = miScoredf_phrase['Word'].values[0:50]        
#Find out if a particular review has the word from topk list
freqReview = []
for i in range(len(reviews)):
    tempCounter = Counter(flatten([word 
                                   for word 
                                   in get_terms(chunker.parse(pos_tag(re.findall(r'\w+',reviews[i]))))]))
    topkinReview = [1 if tempCounter[word] > 0 else 0 for word in topk]
    freqReview.append(topkinReview)   
#Prepare freqReviewDf
MIReviewDf = pandas.DataFrame(freqReview)

In [168]:

X =  MIReviewDf
y = [1 if word == 'positive' else 0 for word in mldf['groundTruth'].values ]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


clf = LogisticRegression(C=1.0).fit(X_train, y_train)

y_train_predict = clf.predict(X_train)
y_test_predict = clf.predict(X_test)


train_accuracy = accuracy_score(y_train, y_train_predict)
test_accuracy = accuracy_score(y_test, y_test_predict)

print("Train accuracy: {}".format(train_accuracy))
print("Test accuracy: {}".format(test_accuracy))

Train accuracy: 0.712
Test accuracy: 0.7163781624500666

In [169]:
train_mean10, train_low10, train_high10, test_mean10, test_low10, test_high10 = random_mean_ci(X, y, num_tests = 10)
print("Train mean accuracy over 10 random splits: {}".format(train_mean10))
print("Train confidence interval over 10 random splits: [{}, {}]".format(train_low10, train_high10))
print("Test mean accuracy over 10 random splits: {}".format(test_mean10))
print("Test confidence interval over 10 random splits: [{}, {}]".format(test_low10, test_high10))

Train mean accuracy over 10 random splits: 0.7160571428571428
Train confidence interval over 10 random splits: [0.7126022452269878, 0.7195120404872979]
Test mean accuracy over 10 random splits: 0.7086551264980028
Test confidence interval over 10 random splits: [0.7003050765237335, 0.717005176472272]

In [170]:
        #clf = BernoulliNB().fit(X_train, y_train)
        #clf = GaussianNB().fit(X_train, y_train)
        clf = MultinomialNB().fit(X_train, y_train)
        #clf = LogisticRegression(C=1.0).fit(X_train, y_train)

In [171]:
# get the baseline data
X =  MIReviewDf
y = [1 if word == 'positive' else 0 for word in mldf['groundTruth'].values ]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)


clf = MultinomialNB().fit(X_train, y_train)


y_train_predict = clf.predict(X_train)
y_test_predict = clf.predict(X_test)


train_accuracy = accuracy_score(y_train, y_train_predict)
test_accuracy = accuracy_score(y_test, y_test_predict)

print("Train accuracy: {}".format(train_accuracy))
print("Test accuracy: {}".format(test_accuracy))

Train accuracy: 0.7125714285714285
Test accuracy: 0.7243675099866844

In [172]:
train_mean10, train_low10, train_high10, test_mean10, test_low10, test_high10 = random_mean_ci(X, y, num_tests = 10)
print("Train mean accuracy over 10 random splits: {}".format(train_mean10))
print("Train confidence interval over 10 random splits: [{}, {}]".format(train_low10, train_high10))
print("Test mean accuracy over 10 random splits: {}".format(test_mean10))
print("Test confidence interval over 10 random splits: [{}, {}]".format(test_low10, test_high10))

Train mean accuracy over 10 random splits: 0.7190285714285716
Train confidence interval over 10 random splits: [0.7142573846650062, 0.7237997581921369]
Test mean accuracy over 10 random splits: 0.7011984021304927
Test confidence interval over 10 random splits: [0.6884329558226581, 0.7139638484383273]